/* nav styles */
.header{background-image: url(../Hero-bg.png);
padding-bottom: 20px;}
nav{display:flex;justify-content: space-between;
    align-items: center;
    margin: 10px 100px;
    font-size: larger;
}
nav ul li{list-style: none;}
/* color blue */
nav{color: #4E47FF;}
.btn1{background-color: #4E47FF;
color: rgb(254, 246, 246);
border-radius: 5px;
border: none;
padding: 10px 20px;}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
};
.banner-content{text-align: center;
justify-content: center;}
h1{font-size: 60px;
font-weight: bold;}
/* header */
.div-main{display: flex;
justify-content: space-between;
margin: 200px 80px;}
.img{border-radius: 20px;}
/* section2 */
.shadu{text-align: center;
background-color:#e3e2f0;
padding: 5px 0px;
border: 50PX;
border-radius: 10px;
max-width: 1000px;
margin: 50px;}
.shadu-main{display: flex;
justify-content: space-around;}
.shadu-sub h3{font-size: 35px;
color: #4E47FF;
margin-bottom: 10px;}
.shadu-sub p {color: darkgray;
font-size: 15px;}